body{
    background-image: url("pic1.jpg");
    background-size:cover;
    animation: bg 20s infinite alternate;
    padding : 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
@keyframes bg {
    0% {
      background:url("pic1.jpg");
    background-size:cover
    }
    20% {
      background:url("pic2.jpg");
    background-size:cover
    }
    40% {
      background:url("pic3.jpg");
    background-size:cover
    }
    60% {
      background:url("pic4.jpg");
    background-size:cover
    }
    80% {
      background:url("pic5.jpg");
    background-size:cover
    }
    100% {
      background:url("pic6.jpg");
    background-size:cover
    }
  }
.navbar{
    
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:35%;
    width: 100%;
    
    background-color: #00000040;
    color : #ffffff;
    position: relative;
    font-size: 16px;
}
.flickr-logo{
    width:9%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding-left:20px;
}
.flickr-logo h1{
    padding-left:7px;
}
.search-area {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 40px;
    width: 70%;
    
}
.input{
    margin-left:10px;
    width:85%;
    height: 30px;
}
.log-area{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.sign-up{
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
}
.sign-up a{
    text-decoration:none;
    color:black;
}

.inspiration-content{

    
    margin-top: 130px;
    color:white;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.first-line{
    
    font-size: 56px;
    
}
.middle-content{
    font-size:26px;
    font-weight:600;
    height:64px;
    width:700px;
}
.start-for-free a:hover{
    color:grey;
}
.start-for-free{
    display:flex;
    justify-content:center;
    align-items:center;
    width:230px;
    height:64px;
    background-color:white;
    border-radius:10px;
}
.start-for-free a{
    text-decoration:none;
    color:black;
}

.color-changing-a:hover{
    color:grey;

}

.foot-area{
    height:70px;
    margin-top:270px;
    background-color: #000000;
    color:#ffffff99;
    display:flex;
    justify-content:space-evenly;
    align-items:center;

}
.foot-area a{
    text-decoration:none;
    color:#ffffff99;

}
.foot-area a:hover{
    color:white;
}